.marine_one_wrapper{
    background-image: url("../../assets/cap.jpg");
    min-height: 60vh;
    padding-top: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
